body {
    background-color: rgb(230, 224, 224);

padding:1.5em;



}
main {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 35px;
    row-gap: 10px;
    font-family: 'DM Sans',
    sans-serif;

}
h1{
    font-family: 'Roboto Slab',
    serif;
    text-align: center;
    font-size: 2.5em;
}
h3{
    margin-bottom: 5px;
}
h3,
p {

    font-style: italic;
    color:rgb(49, 47, 47);
}

section {
    margin: auto;
}

img {
    margin-top: 5px;
    box-shadow: 5px 5px 10px rgb(63, 61, 61);
}