@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

html {}

body {}

img {
    height: 200px;
}

h1,
h2 {
    font-family: 'PT Sans',
        sans-serif;
}

p {
    font-family: 'PT Sans',
        sans-serif;
}

ul.nav {}

li a {}

.copyright {}

.byui {}