/*Small media*/
/*Colors dark to light:
#011936,
#465362,
#82a3a1,
#9fc490,
#C0DFA1,
*/


main {
    display: block;
    margin: 0 auto;
    max-width: 375px;

}

body {

    font-family: 'Roboto Condensed',
        sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway',
        sans-serif;
    font-weight: bolder;
}
.subheading {
    border-bottom: solid #9fc490;
    margin-bottom: 10px;
}

h1 {
    margin: 0 0 15px 10px;
}

footer {
    text-align: center;
    padding: 8px;
    background-color: #82A3A1;
    color: white;
}

footer a {
    color: white;
    padding: 0px;
}

/* the form */
form {
    /* Center the form on the page */
    margin: 0 auto;

    /* Form outline */
    padding: .5em;
    border: 1px solid #CCC;
    border-radius: 1em;
}


label {
    /* Uniform size & alignment */
    display: inline-block;
    font-weight: 600;
    width: 200px;
}
input,
textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}


button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    /* make this element invisible until we are ready for it */
    display: none;
}



input,
button,
select,
textarea {
    padding: 0.5rem;
    margin-bottom: .25rem;
}



input:focus {
    box-shadow: 0 0 10px #bbb;
}




input[type="button"] {
    color: blue;
}

input[type="button"]:hover {
    background-color: #ddf;
}

.flexly {
    display: flex;
    align-items: center;
}

#ratingvalue {
    margin: 0 15px;
    color: #2075ff;
}

#selected {
    position: absolute;
    top: 550px;
    left: 300px;
    border: 1px solid #999;
    background-color: #abe;
    padding: 10px;
    font-weight: 700;
    display: none;
}
/*Menu & Nav bar*/
nav,
footer {
    margin: 0 auto;
    max-width: 360px;
    background-color: #82A3A1;
}

nav {
    padding-left: 8px;
    padding-right: 8px;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}

#navigation li:first-child {
    display: block;
}

#navigation li {
    display: none;
}

#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-family: 'Raleway',
        sans-serif;
    color: #011936;
    font-weight: 700;
}

#navigation a:hover,
#navigation a .active:hover {
    color: white;
    background-color: #C0DFA1;
}

#navigation a.active {
    background-color: #9fc490;
    color: white;
    border-bottom: 5px solid #011936;
}

#navigation.responsive li {
    display: block;
}

/*Medium media*/
@media only screen and (min-width: 34.5em) {
    main {
        max-width: 768px;
        padding-left: 15px;
    }

    #container {
        /* display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

        overflow: auto;
        resize: horizontal; */


        max-width: 1048px;
    }


    nav {
        max-width: 100%;
    }

    #navigation {
        grid-template-columns: repeat(6, auto);
    }

    #navigation li {
        display: block;
        /*change state in small view*/
    }

    #navigation a {
        text-align: center;
    }

    #navigation li:first-child {
        display: none;
    }

    footer,
    footer a {
        background-color: white;
        color: #465362;
        left: 0;
        bottom: 0;
        max-width: 800px;
    }

}



/*Large media*/
@media only screen and (min-width: 54.5em) {

    main {
        max-width: 1200px;
    }

    #container {
        max-width: 1048px;
    }


    #navigation {
        width: 800px;
        margin: 16px auto;
    }

    h1 {
        margin: 0 0 15px 80px;
    }

    footer {
        width: 800px;
        margin: 0 auto;

    }

}