//MOBILE VIEW
#suites {
    div {
        margin: 0 auto;
        width: 90%;
        border: 3px solid #f1f1f1;
        box-shadow: 1px 1px 10px black;
        background-color: white;
        padding: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;

        h1 {
            text-align: center;

        }
h2 {
    font-family: $fontFamilyHr;
}


        img {
            width: 325px;
            height: 175px;
            object-fit: cover;
        }
        p{
            line-height: 25px;

            padding-top: 5px;
            padding-bottom: 5px;
            font-size: 20px;
        }
    }


}

//TABLET VIEW
@media only screen and (min-width: 32.5em) {
    #suites {
        div {
            width: 80%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 40px 30px 30px 1fr;
            column-gap: 10px;

            img {
                height: 250px;
                width: 325px;
                object-fit: cover;
            }

            p {
                grid-column: 2;
            }
        }
    }
}

//DESKTOP VIEW
@media only screen and (min-width: 63.5em) {
    .rooms{
        width: 60%;
    }
    #suites {
        div {
            width: 60%;
            display: grid;
            height: 400px;
            grid-template-columns: 2fr 1fr;
            grid-template-rows: 40px 30px 30px 1fr;
            column-gap: 10px;

            img {
                height: 360px;
                width: 600px;
                object-fit: cover;
            }

            h2 {
                grid-column: 3;
            }

            p {
                grid-column: 3;
            }
        }
    }
}