//MOBILE VIEW
div.cards {
    margin: 0 auto;
    max-width: 400px;
    h2{
        font-family: $fontFamilyHr;
        text-decoration: underline;
    }
    h3{
      font-family: $fontFamilyHr;
    }

    ul {
        font-family: $fontFamily;
        line-height: 25px;

        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }

    }

}

.cards section {
    border: 3px solid #f1f1f1;
    background-color: white;
    padding: 10px;
    margin-bottom: 1em;
    box-shadow: 1px 1px 10px black;
    justify-content: center;
    margin: 5%;
}

.cards div img {
    max-width: 100%;
    box-shadow: 1px 1px 10px black;
    object-fit: cover;
}

//TABLET VIEW
@media only screen and (min-width: 32.5em) {
    div.cards {

        justify-content: center;
        max-width: 90%;
    }

    .cards section {
        margin: 10px;




    }

    .cards div img {
        align-content: center;
    }

    .cards section:nth-child(odd) {
        flex-direction: row-reverse;

    }
}

//DESKTOP VIEW
@media only screen and (min-width: 63.5em) {
    div.cards {
        max-width: 80%;
    }

    .cards section {

        max-width: 80%;
    }

    .cards section div {
        display: block;
    }

    .cards div img {
        max-width: 700px;
    }
}