$primaryColor: #EED5D8;
$trasparent: rgba(241, 221, 223, 0.692);
$fontFamilyHr: 'Vollkorn SC',
serif;
$fontFamily: 'Mate',
serif;
$fontSize:20px;
$lineHeight:25px;
$regularWeight: 400;
$heavyWeight: 700;

$gutter: 2%;

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 80px;
$nav-background: black;
$nav-font-color: #ffffff;
$link-hover-color: rgb(32, 31, 31);
$active-link-color:rgba(24, 23, 23, 0.877);
;

//Footer
$footer-background: rgba(241, 221, 223, 0.692);
