// #005C7A
// #4D1932
// #8B5B6E
// #EED5D8

$primaryColor: rgba(63, 5, 33, 0.88);



$fontFamilyHr: 'Vollkorn SC',
serif;
$fontFamily: 'Mate',
serif;

$regularWeight: 400;
$heavyWeight: 700;

$gutter: 2%;

// Navigation Variables
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 80px;
$nav-background: #2c2022;
$nav-font-color: #ffffff;
$link-hover-color: #574145;
$active-link-color:#BDA5A8;

//accordian
$bg: #fff;
$text: #7288a2;
$gray: #4d5974;
$lightgray: #e5e5e5;
$blue: #03b5d2;