// #005C7A
// #4D1932
// #8B5B6E
// #EED5D8

$primaryColor: rgba(63, 5, 33, 0.88);


$fontFamilyHr: 'Vollkorn SC',
serif;
$fontFamily: 'Mate',
serif;

$regularWeight: 400;
$heavyWeight: 700;

$gutter: 2%;
