/*Small media*/

main {
    display: block;
    margin: 0 auto;
    max-width: 375px;

}

body {

    font-family: 'Roboto Condensed',
        sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway',
        sans-serif;
    font-weight: bolder;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.subheading {
    border-bottom: solid #9fc490;
    margin-bottom: 10px;
}

.description {
    margin: 9px 0 50px 25px;

}

h1 {
    margin: 0 0 15px 10px;
}


/*Medium media*/
@media only screen and (min-width: 34.5em) {
    main {
        max-width: 768px;
        padding-left: 15px;
    }

    #galleryContainer {
        margin: 1rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1048px;
        gap: 15px;
    }

    #galleryContainer div {
        width: 330px;
        box-shadow: 3px 3px 3px grey;
    }

    .description {

        margin: 9px 0 30px 10px;

    }


}



/*Large media*/
@media only screen and (min-width: 54.5em) {

    main {
        max-width: 1200px;
    }

    #galleryContainer {

        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1048px;
    }



    #galleryContainer div:hover {
        width: 330px;
        box-shadow: 0 0 50px #333;
        transform: scale(1.01);
    }



    h1 {
        margin: 0 0 15px 80px;
    }



}