/*Small media*/
body {

    font-family: 'Roboto Condensed',
        sans-serif;
}

main {
    display: block;
    margin: 0 auto;

}

div.cards {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;

}

.cards section {
    color: white;
    background-color: #82a3a1;
    border: 2px solid #647688;
    text-align: center;
    padding: 10px;

    margin-bottom: 1em;
    box-shadow: 1px 1px 10px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5%;

}

.cards div img {
    max-width: 350px;
    box-shadow: 1px 1px 10px black;



}

.cards p {
    color: black;
}

.logo {

    width: 100%;
    margin-bottom: 5%;
    margin-top: 10%;
}

header {
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    width: 95px;
    height: auto;

}

#headings {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

h2 {
    font-size: 2em;
    margin-bottom: -10px;
    text-shadow: 1px 1px 2px #011936;
}

h3 {
    font-size: .85em;
    color: white;
    text-shadow: 1px 1px 2px #011936;
    font-style: oblique;
}

#motto {
    font-style: italic;
    letter-spacing: 1pt;
    color: #465362;
    margin-left: 20px;
    font-size: .9rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway',
        sans-serif;

}





.icon img {
    width: 35px;
    margin-bottom: 5px;
}



footer {
    text-align: center;
    padding: 8px;
    background-color: #82A3A1;
    color: white;
}

footer a {
    color: white;
    padding: 0px;
}



/*Menu & Nav bar*/
nav,
footer {
    margin: 0 auto;
    max-width: 360px;
    background-color: #82A3A1;
}

nav {
    padding-left: 8px;
    padding-right: 8px;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}

#navigation li:first-child {
    display: block;
}

#navigation li {
    display: none;
}

#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-family: 'Raleway',
        sans-serif;
    color: #011936;
    font-weight: 700;
}

#navigation a:hover,
#navigation a .active:hover {
    color: white;
    background-color: #C0DFA1;
}

#navigation a.active {
    background-color: #9fc490;
    color: white;
    border-bottom: 5px solid #011936;
}

#navigation.responsive li {
    display: block;
}


/*Medium media [tablet]*/
@media only screen and (min-width: 34.5em) {


    div.cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 700px;
    }

    .cards section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;


    }

    .cards div img {
        align-content: center;
    }

    .cards section:nth-child(odd) {
        flex-direction: row-reverse;

    }

}



/*Large media [desktop]*/
@media only screen and (min-width: 54.5em) {

    div.cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        max-width: 1200px;

    }

    .cards section {
        flex-flow: column wrap;

        max-width: 305px;
    }

    .cards section div {
        display: block;
    }

}