/*Small media*/
html {

    font-family: 'Roboto Condensed',
    sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

header {
    margin: 0%;
    padding: 2% 19% 2% 19%;
    text-align: center;
    padding: 8px;

}

footer {
    padding: 2% 15% 2% 15%;
    margin: 0%;
    text-align: center;
    padding: 8px;
    position: absolute;
    color: white;
}

#byui {
    color: white;
    padding: 0px;
}
.logo{

    width: 50%;
}
main{
    margin: 0 auto;
    max-width: 360px;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Raleway',
        sans-serif;
    font-weight: bolder;
}
section h5{
    float:left;
    margin-left: 3px;
    color:white;
}
section p {
    float:left;
    margin-left: 50px;
    font-family: 'Roboto Condensed',
        sans-serif;
}

section {
    margin: 0 auto;
    margin-bottom: 35px;
    max-width: 360px;

}
section h1{
    border-bottom: solid black;
}


/*CSS for Menu/Nav bar*/
nav,footer{
    margin: 0 auto;
    max-width: 360px;
    background-color: #82A3A1;
}

#navigation {
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}

#navigation li:first-child {
    display: block;
}

#navigation li {
    display: none;
}

#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    font-family: 'Raleway',
        sans-serif;
    color: #011936;
    font-weight: 700;
}

#navigation a:hover,
#navigation a .active:hover {
    color: white;
    background-color: #011936;
}

#navigation a.active {
    background-color: #9fc490;
    color: white;
    /* border-bottom: 5px solid black; */
}

#navigation.responsive li {
    display: block;
}

/*Color Scheme and Color Scheme Shapes*/
#triangle-topleft1 {
    width: 0;
    height: 0;
    border-top: 100px solid #011936;
    border-right: 100px solid transparent;
}
   #triangle-bottomright1 {
       width: 0;
       height: 0;
       border-bottom: 100px solid #011936;
       border-left: 100px solid transparent;
       float:right;
   }

#triangle-topleft2 {
    width: 0;
    height: 0;
    border-top: 100px solid #465362;
    border-right: 100px solid transparent;
}
  #triangle-bottomright2 {
      width: 0;
      height: 0;
      border-bottom: 100px solid #465362;
      border-left: 100px solid transparent;
      float: right;
  }

#triangle-topleft3 {
    width: 0;
    height: 0;
    border-top: 100px solid #82a3a1;
    border-right: 100px solid transparent;
}
  #triangle-bottomright3 {
      width: 0;
      height: 0;
      border-bottom: 100px solid #82a3a1;
      border-left: 100px solid transparent;
      float: right;
  }

#triangle-topleft4 {
    width: 0;
    height: 0;
    border-top: 100px solid #9fc490;
    border-right: 100px solid transparent;
}
  #triangle-bottomright4 {
      width: 0;
      height: 0;
      border-bottom: 100px solid #9fc490;
      border-left: 100px solid transparent;
      float: right;
  }
#triangle-topleft5 {
    width: 0;
    height: 0;
    border-top: 100px solid #C0DFA1;
    border-right: 100px solid transparent;
}
  #triangle-bottomright5 {
      width: 0;
      height: 0;
      border-bottom: 100px solid #C0DFA1;
      border-left: 100px solid transparent;
      float: right;
  }

/*External link to color palette*/
#color-palette,
#color-palette a {
    text-align: center;
    color: #9fc490;
}

#color-palette a:hover,
#color-palette a .active:hover {
    color: #465362;
}


/*Medium media*/
@media only screen and (min-width: 34.5em) {
    nav, footer{
        max-width: 100%;

    }
    #navigation {
        grid-template-columns: repeat(7, auto);

    }

    #navigation li {
        display: block;
        /*change state in small view*/
    }

    #navigation a {
        text-align: center;
    }

    #navigation li:first-child {
        display: none;
    }
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
}

/*Large media*/
@media only screen and (min-width: 54.5em) {
    #navigation {
        width: 800px;
        margin: 16px auto;
    }

}